# Workspace configurations
.idea/
.nx/

# Dependencies
.gradle/
node_modules/

# Build outputs
.kotlin/
**/resources/*.csv
.angular/
build/
dist/
out/

**/public/config.json

certificate*.pem
**/keystore.p12
**/.env
**/.env.*
