# Deny all files by default
*
!*/

# Re-include known file types
!*.json
!*.yaml
!*.yml
!*.js
!*.mjs
!*.cjs
!*.ts

# Re-exclude specific files/folders despite matching above
/pnpm-lock.yaml
/.moon/cache/
/.moon/docker/
/tmp/
node_modules/
dist/
out-tsc/
.angular/
coverage/
reports/
