<button
    type="button"
    class="btn btn-primary"
    [disabled]="!actionsService.canCreateNew() || actionsService.saving() || actionsService.removing()"
    (click)="actionsService.newResource()"
>
    New
</button>

<div class="btn-group" role="group">
    <button
        type="button"
        class="btn btn-success"
        [disabled]="!actionsService.canSave() || actionsService.saving()"
        (click)="actionsService.saveResource()"
    >
        @if (actionsService.saving()) {
            <span class="spinner-border spinner-border-sm"></span>
        } @else {
            Save
        }
    </button>
    <button
        type="button"
        class="btn btn-danger"
        [disabled]="!actionsService.canRemove() || actionsService.removing()"
        (click)="actionsService.removeResource()"
    >
        @if (actionsService.removing()) {
            <span class="spinner-border spinner-border-sm"></span>
        } @else {
            Remove
        }
    </button>
</div>
