<button
    type="button"
    class="btn btn-primary"
    [disabled]="!actionsService.canCreateNew()"
    (click)="actionsService.newResource()"
>
    New
</button>

<div class="btn-group" role="group">
    <button
        type="button"
        class="btn btn-success"
        [disabled]="!actionsService.canSave()"
        (click)="actionsService.saveResource()"
    >
        Save
    </button>
    <button
        type="button"
        class="btn btn-danger"
        [disabled]="!actionsService.canRemove()"
        (click)="actionsService.removeResource()"
    >
        Remove
    </button>
</div>
