<div class="card">
    <div class="card-body d-flex justify-content-between align-items-center">
        <p class="card-title">
            {{ item().name }}
        </p>
        <div class="card-text d-flex align-items-center gap-3">
            @if (hasRecipe()) {
                <p class="mb-0 d-flex align-items-center gap-2 font-monospace">
                    <cml-icon cml-stopwatch-icon />
                    <span>
                        @if (hasOneRecipe()) {
                            {{ craftingTime() | number: '1.2-2' }}
                        } @else if (hasMultipleRecipes()) {
                            *
                        }
                    </span>
                </p>
            }
            <p class="mb-0 d-flex align-items-center gap-2 font-monospace">
                <span class="text-end">
                    @if (hasRecipe()) {
                        {{ profit() | number: '1.2-2' }}
                    }
                </span>
                <cml-icon cml-coins-icon />
                <span>{{ item().cost | number: '1.2-2' }}</span>
            </p>
            <p class="mb-0 d-flex align-items-center gap-2 font-monospace">
                <cml-icon cml-weight-hanging-icon />
                <span>{{ item().weight | number: '1.2-2' }}</span>
            </p>
            <button type="button" class="btn btn-dark" (click)="onToggle()">
                @if (toggled()) {
                    <cml-icon cml-chevron-up-icon />
                } @else {
                    <cml-icon cml-chevron-down-icon />
                }
            </button>
        </div>
    </div>
    <div class="collapse" [class.card-footer]="toggled()" [class.show]="toggled()">
        @for (recipe of itemRecipes(); track recipe.id) {
            <div class="d-flex align-items-center gap-2 mb-2">
                @for (input of recipe.inputs; track input.item.id) {
                    <span class="d-inline-block rounded-pill badge text-bg-secondary">
                        {{ input.quantity }} x {{ input.item.name }}
                    </span>
                }
            </div>
        }
    </div>
</div>
